<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">Login</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="">Email</label>
            <input 
              [(ngModel)]="loginUserData.email" 
              name="email"
              placeholder="email" 
              type="text" 
              class="form-control" 
              required>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input 
              [(ngModel)]="loginUserData.password" 
              name="password" 
              placeholder="password"
              type="password" 
              class="form-control" 
              required>
          </div>
          <button 
            (click)="loginUser()" 
            type="button" 
            class="btn btn-success float-right">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>