a {
    color: #000;
  }
  /* .demo-sidebar {
    color: red;
  
  } */

li {
    list-style-type: none;
}

  .container-fluid {
      padding-right:140px;
      padding-left:140px;
      margin:0;
    }
  
  .nav-tabs {
    margin-bottom: 15px;
  }
  

/*   
  i.fa-times:before{
    background:transparent;
} */
.fa-times {
    color: #EF3E42;
    font-size: 30px;
  }


.nav-tabs {
	margin-bottom: 15px;
}

#downloadRed {
	color: #EF3E42;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background: #363839;
}

.fa-android {
	font-size: 20px;
    margin-right: 15px;
    color: #18b518;
}

.fa-apple {
	color: #C0C0C0;
	font-size: 20px;
    margin-right: 15px;
}

.fa-cloud-download {
    margin-right: 10px;
    font-size: 12px;
}

.red-button {
    color:#fff;
    background-color:#EF3E42;
    margin-right: 25px;
}


a {
	color: #000;
}


