
<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://www.angular.io/">
      <img
        src="{{ logoSrc }}"
        width="130"
        height="40"
        class="d-inline-block align-top"
        alt="http://www.angular.io/"
      >
    </a>
    <div class="dropdown">
      <button class="navbar-toggler toggler-example" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bars fa-2x"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="text-align: center">
        <a class="dropdown-item" href="#">Login</a>
        <a class="dropdown-item" href="#">Log Out</a>
        <a class="dropdown-item" href="http://www.247games.org/blackjack/">Black Jack</a>
      </div>
    </div>
    
    
  </div>
</div>



<div class="container">
  <p id="headerText1">Application download page</p>
</div>
<br>